In [2]:
from collections import Counter

In [3]:
lst = ["adam.smith@gmail.com", "alan.turing@yahoo.fr", "mary98@hotmail.fr", "ketty_jonhson@gmail.com"]

In [4]:
lst_domains = []
for mail in lst:
    lst_domains.append(mail.split("@")[-1])

In [5]:
#PYTHONIC WAY
lst_domains = [ mail.split("@")[-1] for mail in lst]

In [6]:
lst_domains

['gmail.com', 'yahoo.fr', 'hotmail.fr', 'gmail.com']

In [10]:
#Most common returns from most to least
popmails = Counter(lst_domains).most_common()

In [12]:
popmails[0][0]

'gmail.com'

In [9]:
#max(popmails, key=popmails.get)

'gmail.com'

Replace the odd one

In [19]:
test1 = "Train, bus, car, dog"
test1 = test1.lower()
test1
test1 = test1.replace("dog", "tram")

In [20]:
test1

'train, bus, car, tram'

In [21]:
test2 = "Python, Java, C++, HTML"
test2 = test2.replace("HTML","Julia")

In [22]:
test2

'Python, Java, C++, Julia'

In [23]:
import re

In [35]:
text = 'My neighbor, Mr. Rogers, has 55 dogs.neigh'

In [33]:
print(re.findall("neigh",text))

['neigh', 'neigh']

In [38]:
print(re.findall("[a-z]",text))
#Combination
print(re.findall("[a-z][a-z]",text))

['y', 'n', 'e', 'i', 'g', 'h', 'b', 'o', 'r', 'r', 'o', 'g', 'e', 'r', 's', 'h', 'a', 's', 'd', 'o', 'g', 's', 'n', 'e', 'i', 'g', 'h']
['ne', 'ig', 'hb', 'or', 'og', 'er', 'ha', 'do', 'gs', 'ne', 'ig']

In [29]:
print(re.findall('[^a-z]', text))

['M', ' ', ',', ' ', 'M', '.', ' ', 'R', ',', ' ', ' ', '5', ' ', '.']

In [36]:
print(re.findall("5",text))

['5', '5']

In [39]:
print(re.findall("[\d][\d]",text))

['55']

In [40]:
text = 'My neighbor, Mr. Rogers, from house 55 born in 1987 has 5 dogs since 2022'

In [41]:
print(re.findall("[0-9]{4}",text)) #Four times digits between 0-9

['1987', '2022']

In [42]:
print(re.findall("[0-9]{2,4}",text)) #Two, or Four times digits between 0-9

['55', '1987', '2022']

In [43]:
print(re.findall("\d",text)) #Four times digits between 0-9

['5', '5', '1', '9', '8', '7', '5', '2', '0', '2', '2']

In [44]:
print(re.findall("\d{4}",text)) #Four times digits between 0-9

['1987', '2022']

Write a regular expression which matches strings which starts with a sequence of digits - at least one digit - followed by a blank.

In [46]:
text = 'My neighbor, Mr. Rogers, from house 55Hou born in 1987 has 5 dogs since 2022'

In [51]:
pattern = "\d+[a-z]"

In [52]:
print(re.findall(pattern,text)) #Four times digits between 0-9

[]

EXCERCISE 2

In [53]:
text = """











Dear sender,


Thank you for your email. I am on maternity leave until January 3, 2022. 


For urgent matters, please contact finance@adyen.com


Thank you for your message. Lauren Hackett has left The Economist
Group. In her absence please direct your message to one of  the
following:


- The Economist Editorial: Holly Donahue in the UK and ROW
<hollydonahue@economist.com> or Tom Amos in the US
<tomamos@economist.com>
- The Economist business, EIU, Events and Client Solutions: Jessica
Keating <jessicakeating@economist.com>
- Digital Communications: Paddy Crowley <paddycrowley@economist.com>
- Internal Communications: Stephanie Sampiere <stephaniesampiere@economist.com>


If you are looking to get in contact with Lauren she can be reached at
Lauren@LaurenHackett.com.

"""

In [124]:
pattern=r"[\w+\.-]+@[\w+]+\.[\w+]+"

In [125]:
print(re.findall(pattern,text)) #Four times digits between 0-9

['finance@adyen.com', 'hollydonahue@economist.com', 'tomamos@economist.com', 'jessicakeating@economist.com', 'paddycrowley@economist.com', 'stephaniesampiere@economist.com', 'Lauren@LaurenHackett.com']

In [126]:
pattern=r"[\w+\.]+@[\w+]+\.[\w+]+"

In [127]:
print(re.findall(pattern,text)) #Four times digits between 0-9

['finance@adyen.com', 'hollydonahue@economist.com', 'tomamos@economist.com', 'jessicakeating@economist.com', 'paddycrowley@economist.com', 'stephaniesampiere@economist.com', 'Lauren@LaurenHackett.com']