EX1
Write a program to accept the price of a bike and display the road tax to be paid according to the following criteria :    
Price                                  Tax â€‹
> 100000                                15 % â€‹
> 50000 and <= 100000      10% â€‹
<= 50000                                5%â€‹

In [ ]:
def bikeprice():
    price= float(input("Please insert bike price"))
    if price <= 50000:
      tax_rate = f"Road tax is 5% which is {price*0.05:.2f}"
    elif 50000 < price <=100000:
      tax_rate = f"Road tax is 10% which is {price*0.1:.2f}"
    else:
      tax_rate = f"Road tax is 15% which is {price*0.15:.2f}"
    return tax_rate

In [ ]:
bikeprice()

Please insert bike price46000

'Road tax is 5% which is 2300.00'

Given the array of numbers , write a program to move all zeros to the end keeping  the relative order of the non-zero elements.

In [ ]:
#FOR A ARRAY
arr = [ 1,0, 8, 0 , 0 , 5]
#CREATE A LIST WITHOUT ANY ZEROS
final_list = [ elem for elem in arr if elem != 0]
#print(final_list)
#Calculate the number of zeros
numofzeros = len(arr) - len(final_list)
#print(numofzeros)
#Create a list of only zeros based on number of zeros
list_zeros = [ 0 for nzero in range(numofzeros)]
#print(list_zeros)
#Extend the list without zeros
final_list.extend(list_zeros)
print(final_list)

[1, 8, 5]
3
[0, 0, 0]
[1, 8, 5, 0, 0, 0]

Given two sentences, return an array that has the words that appear in one sentence and not the other and an array with the words in common.

In [ ]:
text1 = "After one week of classes at Ironhack I am exhausted"
text2 = "After 9 weeks of classes at Ironhack I will get drunk"
#First create sets of individual words
set_1 = set(text1.split())
print(set_1)
set_2 = set(text2.split())
print(set_2)

{'exhausted', 'Ironhack', 'am', 'classes', 'at', 'of', 'I', 'one', 'week', 'After'}
{'Ironhack', 'classes', 'at', 'of', 'I', 'weeks', 'will', '9', 'get', 'drunk', 'After'}

In [ ]:
#words in common using intersection method between sets
set_common = set_1.intersection(set_2) 
print(set_common)

{'Ironhack', 'at', 'I', 'of', 'classes', 'After'}

In [ ]:
#Different words between sets using symmetric difference
set_diff = set_1.symmetric_difference(set_2)
print(set_diff)

{'exhausted', 'am', 'weeks', 'one', 'will', 'week', '9', 'get', 'drunk'}