In [1]:
# !pip install wbgapi

In [2]:
import matplotlib.pyplot as plt
import wbgapi as wb
import pandas as pd

# help(wb)
# wb.source.info()

In [66]:
income = wb.economy.info().items
data_income = pd.DataFrame(income)
data_income.head(5)
data_income.to_csv('data_income.csv')

In [65]:
region = wb.region.info().items

data_region = pd.DataFrame(region)
data_region.head(10)
data_region.to_csv('data_region.csv')

# data_region.head(10)
# data_region
# type(region.table)

In [85]:
economy = wb.economy.info().items
data_economy = pd.DataFrame(economy)
data_economy.head(10)
data_economy.to_csv('data_economy.csv')

In [87]:
wb.series.info(q = "urban population")

id                 value
-----------------  ------------------------------------------------------------------------------------------
EN.POP.EL5M.UR.ZS  Urban population living in areas where elevation is below 5 meters (% of total population)
SP.URB.GROW        Urban population growth (annual %)
SP.URB.TOTL        Urban population
SP.URB.TOTL.IN.ZS  Urban population (% of total population)
                   4 elements

In [67]:
CO2 = wb.data.DataFrame('EN.ATM.CO2E.PC', time = range(2011, 2022))
CO2.head(10)
CO2.to_csv('data_CO2.csv')

In [88]:
urban_pop = wb.data.DataFrame('SP.URB.TOTL', time = range(2011, 2022))
urban_pop.head(10)
urban_pop.to_csv('data_urban_population.csv')

In [9]:
# ren = wb.data.DataFrame('IC.REG.DURS',['FR','UKR','EST'], time = range(2003, 2020))
# ren
# ren.plot.bar()

In [10]:
# wb.data.DataFrame('IC.REG.DURS',['FRA','UKR','EST'], time = range(2003, 2019, 3)).T.plot()
# T = transpose
# ren.T.plot()